<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tw.edu.pu.pu_smart_campus_micro_positioning_service">
    <!--
    Add this on activity for doInBackground
    android:launchMode="singleInstance"
    -->

    <!--Internet-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--Bluetooth-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!--GPS-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--IMEI Permission-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

<!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"-->
<!--        tools:ignore="ProtectedPermissions" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_Title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pu_Smart_Campus_MicroPositioning_Service">
        <activity
            android:name=".Activity.GuideSpotActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.CheckActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SafetyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GuideActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MonitorActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Police_MainActivity"
            android:screenOrientation="portrait"
            android:exported="true" >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key"/>

    </application>

</manifest>